body{
    background-color: rgba(239, 215, 220, 0.5);
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.user-box{
    width: 45%;
    margin-top: 20px;
    padding: 10px;
    border: solid 1px slateblue;
    border-radius: 20px;
}
