* {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.left {
    width: 50%;
    background-color: lightsteelblue;
    border-right: .5px solid black;
}
.comment {
    color: darkblue;
}
.post, .comment {
    padding: 20px;

}

.post > *, .comment > * {
    padding: 5px;
}


