* {
    padding: 0;
    margin: 0;
}

body {
    background-color: lightgoldenrodyellow;
}

.detail {
    font-size: 20px;
    color: #034e03;
}


.detail {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 700px;
    padding: 30px;
    margin-top: 30px;
    align-items: center;
    text-align: center;
    border: .5px solid black;
    background-color: #d0f68c;
    border-radius: 30px;
}

body > h1 {
    color: yellowgreen;
    margin: 50px;
}

.comment {
    color: #034e03;
    max-width: 17%;
    border: .5px solid black;
    background-color: #d0f68c;
    border-radius: 30px;
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
}

.comment h2 {
    color: yellowgreen;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
}

.comment h2 {
    font-size: 16px;
    padding: 5px;
}